.bg {
	background-color: black;
}

.bg-color {
	background-color: black;
}

.bg-link {
	background-color: white;
}

.Menu {
    display: flex;
    justify-content: space-between;
	color: white;
}

.under-image{
	background-color: lightgray;
}

.card {
	background-color: darkgray;

}

.main-content {
	max-width: 1450px;
	margin: auto;
}

.container {
	background-color: lightgray;
}

.alignment {
	display: flex;
	align-items: center;
	justify-content: center;
}

.outer {
	background-color: lightgray;
}












